// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Home
@import "partials/home_style.scss";

// Header
@import "partials/header.scss";

// doctor show
@import "partials/show_style.scss";

// doctor edit
@import "partials/edit_style.scss";

//hero
@import "partials/hero_style.scss";

// Footer
@import "partials/footer.scss";

// Registrazione
@import "partials/registrazione_style.scss";

// Login
@import "partials/login_style.scss";

// Patacchi
@import "partials/patacchi.scss";

// message
@import "partials/message_style.scss";

// How it works section
@import "partials/howitworks_style.scss";
