// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Header
@import 'partials/header.scss';

// doctor show
@import 'partials/show_style.scss';

// doctor edit 
@import 'partials/edit_style.scss';

//hero
@import 'partials/hero_style.scss';

// Footer 
@import 'partials/footer.scss';