
.blue_bg {
    background-color: $primary;
    box-shadow: 0 0 50px #00000080;
    color: white;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 3;
    border-radius: 1rem 1rem 0 0;
    font-size: 18px;
    text-align: center;
}


.white_bg {
    background-color: white;
    color: $primary;
    box-shadow: 0 0 50px #00000040;
    border-radius: 0 0 1rem 1rem;
    overflow: hidden;

    .form-control {
        border:1px solid $primary;
        transition: .3s background-color;
    
    }

}

.form_style {
    padding: 2rem 2rem 3rem;
}

.btn-1 {
    background-color: #0071c3 !important;

    &:hover {
        background-color: #0072c3de !important;
    }
}
