.social-btn {
    border-radius: 50%;
}

.column {
    height: 500px;
}
.column_right {
    display: flex;
    justify-content: center;
    align-items: center;
}
ul {
    justify-content: center;
    li {
        padding-right: 1rem;
        a {
            font-size: 12px;
            img {
                width: 60px;
            }
        }
    }
}
