// .show_style {
//     padding: 0px;
//     margin: 0;
//     width: 100%;

    .pages_container {
        padding: 0px;
        justify-content: space-between;


        .left_container,
        .right_container {
            box-shadow: 0 0 50px #0000002e;
            background-color: white;
            padding: 0px;
            border-radius: 1rem;
        }

        .left_container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;


            .title_container_info {
                width: 100%;
                background-color: $primary;
                display: flex;
                align-items: baseline;
                text-align: center;
                line-height: 3;
                border-radius: 1rem 1rem 0 0;


                
                a {
                    width: 100%;
                    font-size: 18px;
                    color: white !important;

                    &:hover {
                        text-decoration: underline !important;
                    }
                } 
            }
            
            .nome_e_cognome {
                color: $primary;
            }

            ul {
                list-style: none;
                li {
                    .badge_profile {
                        background-color: #d9e4f5;
                        color: $primary;
                        text-decoration: none;
                        &:hover {
                            color: #d9e4f5;
                            background-color: $primary;
                        }
                    }
                }
            }

            .btn-edit {
                background-color: #d9e4f5;
                color: $primary;
            }

            .img_profile {
                width: 250px;
                height: 250px;

                img {
                    object-fit: contain;
                    width: 100%;
                    height: 100%;
                }
            }
            .statistiche {
                height: 40%;
                width: 100%;
                background-color: $primary;
                border-radius: 0 0 1rem 1rem;


            }
        }

        .right_container {
            // width: 55%;

            .title_container_info {
                width: 100%;
                background-color: $primary;
                font-size: 18px;
                color: white;
                line-height: 3;
                text-align: center;
                border-radius: 1rem 1rem 0 0;

            }

            .container_info {
                padding: 20px 30px 40px;

                .name_info {
                    color: $primary;
                }

                .row_info {
                    width: 97%;
                    border: 1px solid $primary;
                    margin: .5rem .5rem 1rem .5rem;
                    border-radius: 0.25rem;
                    line-height: 1.5rem;
                    padding: .375rem .75rem;
                }
                .description {
                    height: 250px;
                    overflow-y: scroll;
                }
                .row_info:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }

    // @media all and (max-width: 750px) {
    //     .first_row {
    //         flex-direction: column;

    //         .left_container {
    //             margin-bottom: 30px;
    //         }
    //         .left_container,
    //         .right_container {
    //             width: 100%;
    //         }
    //     }
    // }
// }

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#app {
    background-color: #dce4f1;
}

main {
    flex-grow: 1;
}
