.show_style {
    padding: 0px;
    margin: 0;

    width: 100%;

    .first_row {
        display: flex;
        justify-content: space-between;

        .left_container,
        .right_container {
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            background-color: white;
        }

        .left_container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 43%;

            .title_container_info {
                width: 100%;
                background-color: #0070c2;
                padding: 10px;
                display: flex;
                justify-content: space-between;
                align-items: baseline;

                span {
                    font-size: 18px;
                    color: #d9e4f5;
                }
            }

            ul {
                list-style: none;
                li {
                    .badge_profile {
                        background-color: #d9e4f5;
                        color: #0070c2;
                        text-decoration: none;
                        &:hover {
                            color: #d9e4f5;
                            background-color: #0070c2;
                        }
                    }
                }
            }

            .btn-edit {
                background-color: #d9e4f5;
                color: #0070c2;
            }

            .img_profile {
                width: 250px;
                height: 250px;

                img {
                    object-fit: contain;
                    width: 100%;
                    height: 100%;
                }
            }
            .statistiche {
                height: 40%;
                width: 100%;
                background-color: #0070c2;
            }
        }

        .right_container {
            width: 55%;

            .title_container_info {
                width: 100%;
                background-color: #0070c2;
                padding: 10px;

                span {
                    font-size: 18px;
                    color: white;
                }
            }

            .container_info {
                padding: 20px 30px 40px;

                .row_info {
                    width: 100%;
                    padding: 2px 5px;
                    border: 1px solid #0070c2;
                    margin-bottom: 10px;
                }
                .description {
                    height: 250px;
                    overflow-y: scroll;
                }
                .row_info:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }

    @media all and (max-width: 750px) {
        .first_row {
            flex-direction: column;

            .left_container {
                margin-bottom: 30px;
            }
            .left_container,
            .right_container {
                width: 100%;
            }
        }
    }
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#app {
    background-color: #d9e4f5;
}

main {
    flex-grow: 1;
}
